<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9fcdbd">  <td>17/08/22 12:35:04</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp()[pri:0, instance:com.kyatch.Technician.Tests.TestAlertMessage@100fc185]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@575593575</td>   <td></td> </tr>
<tr bgcolor="b58d72">  <td>17/08/22 12:35:32</td>   <td>28221</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestAlertMessage.testAlertCorrect()[pri:0, instance:com.kyatch.Technician.Tests.TestAlertMessage@100fc185]">testAlertCorrect</td> 
  <td>main@575593575</td>   <td></td> </tr>
</table>
