<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b58d72">  <td>17/07/06 12:49:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginToKyatch.Login_To_Application()[pri:0, instance:com.kyatch.Technician.Tests.LoginToKyatch@6d00a15d]">Login_To_Application</td> 
  <td>main@684874119</td>   <td></td> </tr>
<tr bgcolor="837a77">  <td>17/07/06 12:49:07</td>   <td>-9366</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp()[pri:0, instance:com.kyatch.Technician.Tests.LoginToKyatch@6d00a15d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@684874119</td>   <td></td> </tr>
<tr bgcolor="b5a885">  <td>17/07/06 12:49:18</td>   <td>1594</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestAlertMessage.test_Alert_Correct()[pri:0, instance:com.kyatch.Technician.Tests.TestAlertMessage@51efea79]">test_Alert_Correct</td> 
  <td>main@684874119</td>   <td></td> </tr>
</table>
